html,body {
	padding: 0;
	margin: 0;
	height: 100%;
}


#background { 
	background-color: #000;
	background-image: url(../images/bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: table;
	height: 100%;
	width: 100%;
}

#loginContainer * {
	color: #fff;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	line-height: 1em;
	box-sizing: border-box;
	align-content: center;
	align-items: center;
}

#loginContainer {
	width: 100%;
	margin: 0 auto;
	position: relative;
	max-width: 1024px;
	
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #972800;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #972800;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #972800;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #972800;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #972800;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #972800;
}

#inputContainer {
	width: 400px;
	padding: 45px;
	margin-top: 50px;
	float: center;
	
}

#inputContainer h2 {
	text-align: center;
}

#inputContainer input[type="text"] ,
#inputContainer input[type="email"] ,
#inputContainer input[type="password"] {
	display: block;
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #fff;
	height: 27px;
	width: 100%;
}

#inputContainer label {
	color: #003749;
	font-size: 15px;
	display: block;
	margin-top: 15px;
}

#inputContainer button {
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 250px;
	color: #fff;
	display: block;
	font-size: 18px;
	letter-spacing: 1px;
	margin: 20px auto;
	height: 41px;
	width: 100%; 
}

#inputContainer button:hover {
	cursor: pointer;
	background-color: #fff;
	color: #000;
	border: 2px solid #000;
}

.hasAccountText span {
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.hasAccountText {
	text-align: center;
}

#registerForm,
#loginForm {
	display: none;
}

#loginText {
	padding: 45px;
	display: table-cell;
}

#loginText h1 {
	color: #000;
	font-size: 60px;
	font-weight: bold;
}

#loginText h2 {
	margin: 2 px 0;
}

#loginText ul {
	padding: 0;
}

#loginText li {
	font-size: 20px;
	list-style-type: none;
	padding: 5px 30px;
	background: url(../images/icons/checkmark1.png) no-repeat 0 0;
}

#inputContainer .errorMessage {
	color: #000;
	font-size: 15px;
	display: block;
}